---
layout: default
title: LightSpeed Home
pagination:
enabled: true
---

<h2>Projects</h2>
<br>
<h4>The Game of Life</h4>
<p> The Game of Life is a project that was coded in functional programming language,
    OCaml. The game occurs in the terminal and can be played with one player or two.
    It is themed around Cornell.
</p>
<br>
<h4>Satisfy</h4>
<p> "Satisfy" is a minimalist puzzle game that delights in offering simple yet satisfying challenges. Each level tasks
    players with arranging elements or connecting dots to create a sense of order and balance. With its clean graphics
    and intuitive gameplay, "Satisfy" rewards players with the serene satisfaction of seeing each puzzle click into
    place, providing a calm, meditative experience as they progress through increasingly creative and complex stages.
</p>
<img src="assets/images/satisfy.jpg" alt="Jake Berko" class="image">




<!-- </p>
{% for post in paginator.posts %}
<span class="post-item"><span class="mobile-hide"> {{ post.date | date: '%Y-%m-%d' }} >> </span><a
        href="{{ post.url }}">{{ post.title }}</a><span class="float-right mobile-hide">{{ post.categories
        }}</span></span>
{% endfor %}

<div class="post-nav">
    {% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&lt;- Older</a>
    {% endif %}
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer -&gt;</a>
    {% endif %}
    {% endif %}
</div> -->